<main>
    <div class="about-us">
        <div class="header content">
            <h1>ABOUT US</h1>
            <p>Pampanga Animal Resources & Advocacy (PARA) is a dedicated group of individuals committed to advocating the rights and welfare of animals. Our mission is to promote responsible pet ownership, fight against animal cruelty, and encourage ethical treatment of all animals through education, and promoting local animal shelters in the province.</p>
        </div>

        <div class="values">
            <h2>OUR VALUES</h2>
            <div class="values-icons">
                <div class="value">
                    <img src="about/values/community.png" alt="Community">
                    <p>COMMUNITY</p>
                </div>
                <div class="value">
                    <img src="about/values/compassion.png" alt="Compassion">
                    <p>COMPASSION</p>
                </div>
                <div class="value">
                    <img src="about/values/accountability.png" alt="Accountability">
                    <p>ACCOUNTABILITY</p>
                </div>
            </div>
        </div>

        <div class="advocacy content">
            <h2>OUR ADVOCACY</h2>
            <div class="advocacy-content">
                <p>Our advocacy focuses on ending animal cruelty, fighting against animal testing, raising public awareness about responsible pet ownership, and addressing the rising stray animal population. We are dedicated to protecting and improving the lives of animals through education and promoting local animal shelters in Pampanga through the Adopt Don't Shop campaign. We encourage people to support spaying and neutering programs to control the stray population. </p>
                <img src="about/advocacy.png" alt="Advocacy Image">
            </div>
        </div>        

        <div class="team">
            <h2>MEET OUR TEAM</h2>
            <div class="team-members">
                <div class="member">
                    <img src="about/team/DavidKA.png" alt="Kate David">
                    <h3>Kate David</h3>
                    <p>Shelters Page Developer</p>
                </div>
                <div class="member">
                    <img src="about/team/DizonLZ.png" alt="Laurence Dizon">
                    <h3>Laurence Zaki Dizon</h3>
                    <p>About Page Developer</p>
                </div>
                <div class="member">
                    <img src="about/team/NatividadCJ.png" alt="Jasline Natividad">
                    <h3>Jasline Natividad</h3>
                    <p>UI/UX Designer</p>
                </div>
                <div class="member">
                    <img src="about/team/PaldengCL.png" alt="Carl Paldeng">
                    <h3>Carl Paldeng</h3>
                    <p>Contact Page Developer</p>
                </div>
                <div class="member">
                    <img src="about/team/TayagCJ.png" alt="Chester Tayag">
                    <h3>Chester Tayag</h3>
                    <p>Homepage Developer</p>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA added by Chester Tayag -->
    <!-- Mobile Be The Change -->
    <div class="mobile-cta content">
        <h2>BE THE CHANGE</h2>
        <h3>Adopt, Advocate, and Protect</h3>
        <p>Ready to make a difference? Get in touch with us today to learn how you can adopt, volunteer, or support our advocacy. Together, we can give every pet the love they deserve!</p>
        <div><a routerLink="/contact">Contact Us</a></div>
    </div>

    <!-- Tablet/Desktop Be The Change -->
    <div class="tab-desk-cta content">
        <img src="cta.png" alt="Hero image featuring a cat and two dogs">
        <div class="cta-text">
            <h2>BE THE CHANGE</h2>
            <h3>Adopt, Advocate, and Protect</h3>
            <p>Ready to make a difference? Get in touch with us today to learn how you can adopt, volunteer, or support our advocacy. Together, we can give every pet the love they deserve!</p>
            <div><a routerLink="/contact">Contact Us</a></div>
        </div>
    </div>
</main>