<!-- For shelter  -->
<main>
    <header class="hero">
        <img class="shelterbg" src="shelters/shelterbg.webp" alt="Shelter Background">
    </header>

    <section class="purple-banner content">
        <h2>
            A <span class="color-text">FURever</span> home starts with you<br>
            Explore the local shelters and <span class="color-text">start your adoption journey today.</span>
        </h2>
    </section>

    <section class="shelter-container">
        <div class="shelter-content">
            <img class="logo_shelter" src="shelters/noahs-ark.jpg" alt="Noah's Ark Shelter">
            <div class="shelter-info">
                <h2>Noah’s Ark Dog & Cat Shelter Inc.</h2>
                <p><strong>Location:</strong> Mabalacat City, Pampanga</p>
                <p>
                    Noah’s Ark Dog & Cat Shelter Inc. is a non-profit animal rescue organization based in Mabalacat City, Pampanga. 
                    Dedicated to saving stray and abandoned animals, the shelter provides a safe haven for dogs and cats in need. 
                    Through rescue, rehabilitation, and adoption programs, Noah’s Ark aims to find loving homes for every rescued pet. 
                    The shelter also advocates for responsible pet ownership, spay and neuter programs, and community education to promote animal welfare.
                </p>
                <a href="https://www.facebook.com/Noahsarkdogandcatshelter/" class="visit-btn" target="_blank">Visit their FB page</a>
            </div>
        </div>
    </section>

    <section class="shelter-container bff-section content">
        <div class="shelter-content reverse">
            <img class="logo_shelter" src="shelters/bff.jpg" alt="BFF Sanctuary">
            <div class="shelter-info">
                <h2>Best Friends Furever Sanctuary Inc.</h2>
                <p><strong>Location:</strong> Magalang, Pampanga</p>
                <p>
                    Best Friends Furever Sanctuary Inc. is a non-profit animal rescue organization based in Magalang, Pampanga. 
                    Committed to rescuing, rehabilitating, and rehoming stray and abandoned animals, the sanctuary provides 
                    a safe and loving environment for pets in need. Through adoption programs, medical care, and community education, 
                    Best Friends Furever Sanctuary promotes responsible pet ownership and advocates for animal welfare. 
                    Their mission is to give every rescued animal a second chance at a happy and fulfilling life.
                </p>
                <a href="https://www.facebook.com/bffs.org.ph/" class="white-visit-btn" target="_blank">Visit their FB page</a>
            </div>
        </div>
    </section>

    <section class="shelter-container">
        <div class="shelter-content">
            <img class="logo_shelter" src="shelters/lyka.jpg" alt="Noah's Ark Shelter">
            <div class="shelter-info">
                <h2>Lyka’s Dog & cat Shelter</h2>
                <p><strong>Location:</strong> Mabalacat City, Pampanga</p>
                <p>
                    LYKA’s Dog & Cat Shelter is a non-profit rescue in Angeles City, Philippines, dedicated to saving and caring for stray and abandoned animals. They provide medical care, food, and shelter while finding loving homes for rescued pets. Their mission is to promote animal welfare through rescue, rehabilitation, and responsible pet adoption. They also advocate for spaying and neutering to help control the stray animal population.
                </p>
                <a href="https://www.facebook.com/lykasdogandcatshelter/" class="visit-btn" target="_blank">Visit their FB page</a>
            </div>
        </div>
    </section>

    <section class="contact-section content">
        <img class="contactbg" src="cta.png" alt="Contact Us" >
        <div class="contact-text">
            <h1 class="contact-color">BE THE CHANGE</h1>
            <h2>Adopt, Advocate, and Protect</h2>
            <p>Ready to make a difference? Get in touch with us today to learn how you can adopt, volunteer, or support our advocacy. Together, we can give every pet the love they deserve! </p>
            <a routerLink="/contact" class="contact-btn">Contact Us</a>
        </div>
    </section>
</main>