<main>
    <!-- Mobile Hero -->
    <div class="mobile-hero content">
        <h1>ADOPT, DON'T SHOP</h1>
        <h3>Every pet deserves a loving home.</h3>
        <p>Be Their Voice—Stand Against Animal Cruelty, Support Adoption, and Give Every Pet the Love They Deserve.</p>
        <div><a routerLink="/shelters">Adopt Now</a></div>
    </div>

    <!-- Tablet/Desktop Hero -->
    <div class="tab-desk-hero content">
        <img src="home/hero.png" alt="Hero image featuring a cat and two dogs">
        <div class="hero-text">
            <h1>ADOPT, DON'T SHOP</h1>
            <h3>Every pet deserves a loving home.</h3>
            <p>Be Their Voice—Stand Against Animal Cruelty, Support Adoption, and Give Every Pet the Love They Deserve.</p>
            <div><a routerLink="/shelters">Adopt Now</a></div>
        </div>
    </div>

    <!-- Below Hero -->
    <p class="below-hero">We advocate for <span>animal rights</span>, promote <span>pet adoption</span>, and fight against <span>neglect</span> and <span>cruelty</span>.</p>

    <!-- Who We Are -->
    <div class="who-we-are content">
        <h2>WHO WE ARE</h2>
        <div class="wwa-content">
            <img src="home/caged-cats.png" alt="Caged cats">
            <div class="wwa-text">
                <p>Pampanga Animal Resources & Advocacy (PARA) aims to advocate animal rights and promote the Adopt Don't Shop campaign as we believe that every animal deserves love, respect, and a safe home.</p>
                <div><a routerLink="/about">Learn More</a></div>
            </div>
        </div>
    </div>

    <!-- Shelters Around Pampanga -->
    <div class="shelters-pampanga">
        <h2>SHELTERS AROUND PAMPANGA</h2>
        <div class="all-shelters">
            <div class="shelter">
                <a href="https://www.facebook.com/Noahsarkdogandcatshelter" target="_blank">
                    <img src="shelters/noahs-ark.jpg" alt="Noah's Ark Logo">
                    <p>Noah's Ark Dog & Cat Shelter</p>
                </a>
            </div>

            <div class="shelter">
                <a href="https://www.facebook.com/bffs.org.ph" target="_blank">
                    <img src="shelters/bff.jpg" alt="Best Friends Furever Logo">
                    <p>Best Friends Furever Sanctuary</p>
                </a>
            </div>

            <div class="shelter">
                <a href="https://www.facebook.com/lykasdogandcatshelter" target="_blank">
                    <img src="shelters/lyka.jpg" alt="Lyka's Dog and Cat Shelter Logo">
                    <p>Lyka's Dog and Cat Shelter</p>
                </a>
            </div>
        </div>
        <div class="more-shelters"><a routerLink="/shelters">See More Shelters</a></div>
    </div>

    <!-- Mobile Be The Change -->
    <div class="mobile-cta content">
        <h2>BE THE CHANGE</h2>
        <h3>Adopt, Advocate, and Protect</h3>
        <p>Ready to make a difference? Get in touch with us today to learn how you can adopt, volunteer, or support our advocacy. Together, we can give every pet the love they deserve!</p>
        <div><a routerLink="/contact">Contact Us</a></div>
    </div>

    <!-- Tablet/Desktop Be The Change -->
    <div class="tab-desk-cta content">
        <img src="cta.png" alt="Hero image featuring a cat and two dogs">
        <div class="cta-text">
            <h2>BE THE CHANGE</h2>
            <h3>Adopt, Advocate, and Protect</h3>
            <p>Ready to make a difference? Get in touch with us today to learn how you can adopt, volunteer, or support our advocacy. Together, we can give every pet the love they deserve!</p>
            <div><a routerLink="/contact">Contact Us</a></div>
        </div>
    </div>
</main>